// base styles
*{
    font-family: 'Amiko', sans-serif;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    margin: 0;
    font-size: 16px;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}
.container-fluid{
    max-width: 1440px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
//ШАПКА САЙТА

.header {
    width: 100%;
    background: #13202C;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

		// .navigation__title
		&__title {
            font-family: 'Abhaya Libre', sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 30px;
            line-height: 38px;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            margin: 0;
        }
        &__site-language {
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            color: #FF0000;
            text-transform: uppercase;
            margin: 0 0 0 10px;
        }
}
.social-block {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 140px;
        margin: 0 30px;
		// .social-block__link

		&__link {
            font-size: 24px;
            display: block;
            height: 50px;
            width: 50px;
            margin: 10px;
            background: #ffffff;
            text-align: center;
            line-height: 55px;
            border-radius: 100%;
		}
}

//btn-menu

.btn-menu {
    display: none;
    // position: fixed;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #fff;
    // overflow: hidden;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background: #13202c;
    // .btn-menu__column
    z-index: 2;
    .column1{
        position: relative;
    }
    &__column {
        width: 100px;
    }
    

    // .btn-menu__link

    &__link {
        height: 30px;
        line-height: 30px;
        span{
            padding: 0 10px;
        }
    }
    .close-link{
        span{
            display: none;
        }
        position: relative;
        color: #656060;
        font-weight: bold;
        background: #ffffff;
        border-radius: 8px 0 0 8px;
        &::before{
            position: absolute;
            content: 'x';
        }
    }
    // .btn-menu__drop-down
    &__dropdown-link{
        display: none;
        position: absolute;
        width: 100%;
        top: 150%;
        z-index: 2;
        background: #13202c60;
        border-radius: 0 0 10px 10px;
    }
    &__social-item{
        display: block;
        font-size: 24px;
        height: 60px;
        width: 60px;
        background: #ffffff;
        line-height: 60px;
        border-radius: 50%;
        margin: 15px auto;
    }


    // .btn-menu__tape
    &__tape {
        height: 30px;
        line-height: 30px;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
    }
    &__dropdown-tape{
        display: none;
        position: absolute;
        height: 94%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        background: #13202c60;
        margin: 20px 0;
        padding: 40px 10px;
    }
    &__dropdown-box{
        width: 100%;
        height: 100%;
        overflow-x: auto;
    }
    &__close-dropdown-tape{
        z-index: 3;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 30px;
        line-height: .6;
        padding: 10px;
        margin: .3% 1%;
        border-radius: 0 0 0 20%;
        background: #ffffff80;
        color: #656060;
    }
    &__tape-link{
        display: block;
        margin: 10px auto;
        max-width: 400px;
        img{
            width: 100%;
        }
    }
    // .btn-menu__lang

    &__lang {
        height: 30px;
        line-height: 30px;
    }

    // .btn-menu__site-language

    &__site-language {
        color: #ff0000;
        width: 100%;
        height: 100%;
    }
    
}
.active-column{
    display: block;
}

// БАННЕР БЛОК
.banner-info {
    max-width: 504px;
    margin: 28px auto 15px;
    // .banner-info__question
    &__title {
        position: relative;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #000000;
        text-transform: uppercase;
        cursor: pointer;
    }
    &__triangle{
        display: none;
        position: absolute;
        height: 0;
        width: 0;
        right: 2%;
        top: 50%;
        transform: translateY(-80%);
        border: 5px solid transparent;
        border-right: 10px solid #13202C;

    }
    &__text {
        display: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        text-indent: 30px;
        text-align: left;
        color: #13202C;
        
        }
        
}


// main site
.main {

    // .main__title

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #FF0000;
        text-transform: uppercase;
        margin: 0 0 28px 0;
    }
}

// flex-box

.flex-box {
    display: flex;
    justify-content: space-between;
}
.left-side {
    width: 400px/1400px*100%;
		// .left-side__link

		&__link {
            display: block;
            margin: 0 22px 22px ;
        }
        &__img{
            width: 100%;
        }
}
.right-side {
    width: 400px/1400px*100%;

		// .left-side__link

		&__link {
            display: block;
            margin: 0 22px 22px ;

        }
        &__img{
            width: 100%;
        }
}
.center {
    width: 600px/1400px*100%;

		// .center__main-block

		&-main-block{
            padding: 30px 20px;
            background: #13202C;
            border-radius: 10px;
            margin: 0 0 22px ;
        

            // .center__title
            &__title {
                width: 100%;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                color: #ffffff;
                line-height: 32px;
                text-align: center;
                margin: 0 auto;
                text-transform: uppercase;
            }
            &__date{
                color: #FF0000;
            }

            // .center__media
            //img
            &__media-img {
                display: block;
                width: 201px;
                height: 201px;
                border-radius: 50%;
                margin: 30px auto;
            }
            //video
            &__media-video {
                width: 100%;
                height: 252px;
                margin: 30px auto;
                padding: 0 50px;
            }

            // .center__text

            &__text {
                color: #ffffff;
                font-style: normal;
                font-weight: normal;
                line-height: 21px;
                text-indent: 30px;
                p{
                    margin: 0 0 16px 0;
                }
            }

            // .center__link
            &__link {
                display: block;
                font-style: normal;
                font-weight: bold;
                line-height: 22px;
                color: #FFFFFF;
                text-align: center;
            }
    }
    
}


//footer

.start{
    position: fixed;
    right: 2%;
    bottom: 0;  
    padding: 10px 15px;
    margin: 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: #363232;
    background: #fff5;
}

