@media screen and (min-width: 1025px){
    .navigation{
        &__title{
            display: block;
        }
    }
}
@media screen and (max-width: 1024px){
   .blur{
       filter: blur(5px);
   }
    .left-side,
    .right-side
    {
        display: none;
    }
   
    .container-fluid{
        padding: 0;
    }
    .social-block{
        display: none;
    }
    .navigation{
        display: block;
        &__site-language{
            display: none;
        }
    }
    //btn-menu

.btn-menu{
    display: flex;
}
    .center{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: baseline;
        width: 100%;
        &-main-block{
            margin: 0 5px 10px;
            width: 45%;
            &__title{
                font-size: 18px;
            }
            &__date{
                font-size: 22px;
            }
        }
    }
    .start{
    display: block;
}
}

@media screen and (max-width: 720px){
 
    .container-fluid{
        padding: 0 10px;
    }
    .center{
        display: block;
        width: 100%;
        &-main-block{
            margin: 0 0 10px;
            width: 100%;
            &__media-video{
                padding: 0 40px;
            }
        }
    }
    .banner-info{
        &__questions{
            margin: 0 10px;
        }
        &__title{
            font-size: 18px;
            display: block;
            width: 100%;
            background: #cacaca;
            margin: 10px 0;
            border-radius: 5px;
            padding: 5px 0;
        }
        &__triangle{
            display: block;
        }
        &__text{
            line-height: 1.2;
            padding: 0 20px;
            p{
                margin: 3px 0 10px;
            }
        }
    }
    .main__title{
        margin: 0 0 10px 0;
    }
}
@media screen and (max-width: 540px){
    .navigation{
        padding: 20px 0;
        &__title{
            font-size: 18px;
        }
    }
    .btn-menu{
        &__dropdown-tape{
            width: 100%;
        }
       
    }
    .main{
        &__title{
            font-size: 18px;
        }
    }
    .center{
        &-main-block{
            &__title{
                font-size: 16px;
            }
            &__date{
                font-size: 20px;
            }
            &__media-video{
                // height: 200px;
                padding: 0;
                margin: 10px 0;;
            }
        }
    }
    
}