{% load static staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- font awesome -->   
    <link rel="stylesheet" href="{% static '/resources/font awesome/all.min.css' %}">
    <!-- Font Family -->
    <!-- Amiko -->
    <link href="https://fonts.googleapis.com/css?family=Amiko:400,600,700&display=swap" rel="stylesheet"> 
    <!-- Abhaya Libre -->
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre:800&display=swap&subset=sinhala" rel="stylesheet"> 
    <!-- LINK -->
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
   
    <title>News</title>
</head>
<body>
    <header class="header" id="start">
        <div class="container">
            <nav class="navigation">
                    <div class="social-block">
                        <a href="https://twitter.com" class="social-block__link"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.facebook.com" class="social-block__link"><i class="fab fa-facebook-f"></i></a>
                    </div>
                <p class="navigation__title">
                    история одной борьбы <br>с коррупцией в кыргызстане
                </p>
                    <a href="#" class="navigation__site-language">кыргызча</a>

                    <!-- button menu screen max-width 830px -->
                <div class="btn-menu">
                    <div class="btn-menu__column column1">
                        <div class="btn-menu__link">
                            <span><i class="fab fa-twitter"></i></span>
                            <span><i class="fab fa-facebook-f"></i></span>
                        </div>
                        <div class="btn-menu__dropdown-link">
                            <a href="https://twitter.com" class="btn-menu__social-item"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com" class="btn-menu__social-item"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                    <div class="btn-menu__column">
                        <div class="btn-menu__tape">
                            лента
                        </div>
                        <div class="btn-menu__dropdown-tape">
                            <div class="btn-menu__dropdown-box" >
                               <!-- For mobile version -->
                                {% for item in social_img_list %}
                                    <a href="{{ item.link }}" class="btn-menu__tape-link"><img src="{% if item.image %}{{ item.image.url }}{% endif %}"></a>
                                {% endfor %}
                            </div>
                            <div class="btn-menu__close-dropdown-tape">&times</div>

                        </div>
                    </div>
                    <div class="btn-menu__column">
                        <div class="btn-menu__lang">
                            <a href="#" class="btn-menu__site-language">
                                кыргызча
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
        <section class="banner-info">
            {% for item in banner_list %}
            <div class="banner-info__questions">
                <h2 class="banner-info__title" id="click">
                    {{ item.name }}
                    <div class="banner-info__triangle"></div>
                </h2>
                <div class="banner-info__text">
                        <p>{{ item.content_text }}</p>
                </div>
            </div>
            {% endfor %}
{#            <div class="banner-info__questions">#}
{#                <h2 class="banner-info__title" id="click">#}
{#                    что такое коррупция?#}
{#                    <div class="banner-info__triangle"></div>#}
{#                </h2>   #}
{#                <div class="banner-info__text">#}
{#                        <p>Коррупция это собирательное название разнообразных нарушений закона чиновниками и бизнесом.#}
{#                            Слово corruptio в перевде с Латыни означает «разложение, порча».#}
{#                            Самым распространённым проявлением коррупции считается взяточничество — поборы откатов за оказание каких-либо услуг#}
{#                            или предоставление конкурентных преимуществ. Коррупцию часто можно встретить при проведении тендеров и осуществлении госзакупок.#}
{#                            Другим вопиющим проявлением коррупции является воровство бюджетных денег чиновниками с использованием различных преступных схем:#}
{#                            распилов, завышения стоимости работ, незаконным распределением, превышением полномочий и так далее ...</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="banner-info__questions">#}
{#                <h2 class="banner-info__title" id="click">#}
{#                    зачем нужен этот сайт?#}
{#                    <div class="banner-info__triangle"></div>#}
{#                </h2> #}
{#                <div class="banner-info__text">#}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vero delectus deserunt necessitatibus exercitationem nostrum, et reiciendis voluptas? Dolorum sunt doloremque aspernatur dignissimos repudiandae pariatur facilis accusamus quae exercitationem, id unde ut perspiciatis atque a eum dicta, aut nulla nostrum non nesciunt. Qui ipsa quam eum fugit mollitia hic fuga.</p>#}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vero delectus deserunt necessitatibus exercitationem nostrum, et reiciendis voluptas? Dolorum sunt doloremque aspernatur dignissimos repudiandae pariatur facilis accusamus quae exercitationem, id unde ut perspiciatis atque a eum dicta, aut nulla nostrum non nesciunt. Qui ipsa quam eum fugit mollitia hic fuga.</p>#}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vero delectus deserunt necessitatibus exercitationem nostrum, et reiciendis voluptas? Dolorum sunt doloremque aspernatur dignissimos repudiandae pariatur facilis accusamus quae exercitationem, id unde ut perspiciatis atque a eum dicta, aut nulla nostrum non nesciunt. Qui ipsa quam eum fugit mollitia hic fuga.</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="banner-info__questions">#}
{#                <h2 class="banner-info__title" id="click">#}
{#                    как началась эта история?#}
{#                    <div class="banner-info__triangle"></div>#}
{#                </h2>   #}
{#                <div class="banner-info__text">#}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vero delectus deserunt necessitatibus exercitationem nostrum, et reiciendis voluptas? Dolorum sunt doloremque aspernatur dignissimos repudiandae pariatur facilis accusamus quae exercitationem, id unde ut perspiciatis atque a eum dicta, aut nulla nostrum non nesciunt. Qui ipsa quam eum fugit mollitia hic fuga.</p>#}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vero delectus deserunt necessitatibus exercitationem nostrum, et reiciendis voluptas? Dolorum sunt doloremque aspernatur dignissimos repudiandae pariatur facilis accusamus quae exercitationem, id unde ut perspiciatis atque a eum dicta, aut nulla nostrum non nesciunt. Qui ipsa quam eum fugit mollitia hic fuga.</p>#}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vero delectus deserunt necessitatibus exercitationem nostrum, et reiciendis voluptas? Dolorum sunt doloremque aspernatur dignissimos repudiandae pariatur facilis accusamus quae exercitationem, id unde ut perspiciatis atque a eum dicta, aut nulla nostrum non nesciunt. Qui ipsa quam eum fugit mollitia hic fuga.</p>#}
{#                </div>#}
{#            </div>#}
        </section>

        <!-- ссылка на начало -->
        <a href="#start" class="start"><i class="fas fa-angle-double-up"></i></a>

    <main class="main">
        <div class="container-fluid">
            <h2 class="main__title">
                сегодня {% now "d.m.Y" %}<br>
                история еще не закончена
            </h2>
            <div class="flex-box">
                <div class="left-side">

                    {% for item in social_img_list %}
                        {% if item.position == 'left' %}
                            <a href="{{ item.link }}" class="left-side__link"><img src="{% if item.image %}{{ item.image.url }}{% endif %}" alt="twitter-news" class="left-side__img"></a>
                        {% endif %}
                    {% endfor %}

                </div>

                <div class="center">

                    {% for item in media_content_list %}
                    <div class="center-main-block">
                        <div class="center-main-block__title">
                            <div class="center-main-block__date">{{ item.pub_date }}</div>
                            {{ item.title }}
                        </div>
                            <img src="{% if item.image %}{{ item.image.url }}{% endif %}" alt="Болот Темиров" class="center-main-block__media-img">
                        <div class="center-main-block__text">
                            <p>{{ item.content_text }}</p>
                        </div>
                            <a href="{{ item.link }}" class="center-main-block__link">{{ item.title_link }}</a>
                    </div>
                    {% endfor %}


                    <div class="center-main-block">
                        <div class="center-main-block__title">
                            <div class="center-main-block__date">16 января 2020</div>
                            нападение на редактора factcheck.kg болота темирова
                        </div>
                            <img src="{% static '/img/media-block/01.png' %}" alt="Болот Темиров" class="center-main-block__media-img">
                        <div class="center-main-block__text">
                            <p>Напомним, 9 января днем в центре Бишкека напали на журналиста Factcheck.kg Болота Темирова. Трое неизвестных возле редакции, во дворе многоэтажного дома, избили его и забрали сотовый телефон. Сам Болот Темиров считает, что на него напали из-за последнего расследования Factcheck.kg</p>
                        </div>
                            <a href="https://kaktus.media/doc/403903_glavnogo_redaktora_factcheck.kg_izbili_neizvestnye.html" class="center-main-block__link">Читать дальше на Кактус Медиа</a>
                    </div>
                    <div class="center-main-block">
                        <div class="center-main-block__title">
                            <div class="center-main-block__date">25 декабря 2019</div>
                            ежегодная пресс-конференция президента и неудобные вопросы
                        </div>
                        <div class="center-main-block__media-video">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/vlaNnSdyeOM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                            <a href="https://www.youtube.com/watch?v=vlaNnSdyeOM" class="center-main-block__link">Канал Азаттык на YouTube</a>
                    </div>
                    <div class="center-main-block">
                        <div class="center-main-block__title">
                            <div class="center-main-block__date">17 декабря 2019</div>
                            расследование factcheck.kg об имуществе матраимовых
                        </div>
                            <img src="{% static '/img/media-block/02.png' %}" alt="Матраимовы" class="center-main-block__media-img">
                        <div class="center-main-block__text">
                            <p>Factcheck.kg провел расследование «По следам Матраимовых» и нашел имущество, принадлежащее депутату Жогорку Кенеша Искендеру Матраимову и его супруге Минавар Жумаевой.</p>
                        </div>
                            <a href="https://factcheck.kg/ru/post/240" class="center-main-block__link">Читать дальше на Factcheck.kg</a>
                    </div>
                    <div class="center-main-block">
                        <div class="center-main-block__title">
                            <div class="center-main-block__date">12 декабря 2019</div>
                            президент просит факты
                        </div>
                            <img src="{% static '/img/media-block/03.png' %}" alt="Сооронбай Жээнбеков" class="center-main-block__media-img">
                        <div class="center-main-block__text">
                            <p>Сегодня на встрече с соотечественниками в Дубае президент Сооронбай Жээнбеков прокомментировал расследование журналистов об имуществе экс-таможенника Райымбека Матраимова в ОАЭ.</p>
                        </div>
                            <a href="https://24.kg/vlast/137801_dayte_faktyi_iadres_prezident_krprokommentiroval_rassledovanie_omatraimovyih/" class="center-main-block__link">Читать дальше на 24.kg</a>
                    </div>
                    <div class="center-main-block">
                        <div class="center-main-block__title">
                            <div class="center-main-block__date">25 ноября 2019</div>
                            протест #rеакция на площади
                        </div>
                            <img src="{% static '/img/media-block/04.png' %}" alt="Протест" class="center-main-block__media-img">
                        <div class="center-main-block__text">
                            <p>Сотни кыргызстанцев потребовали ареста Раима Матраимова на митинге против коррупции в центре Бишкека</p>
                        </div>
                            <a href="https://kloop.kg/blog/2019/11/25/live-miting-protiv-korruptsii-vozle-belogo-doma/" class="center-main-block__link">Читать дальше на Kloop</a>
                    </div>
                    <div class="center-main-block">
                        <div class="center-main-block__title">
                            <div class="center-main-block__date">21 ноября 2019</div>
                            расследование азаттык, kloop и occrp #1
                        </div>
                            <img src="{% static '/img/media-block/04.png' %}" alt="Протест" class="center-main-block__media-img">
                        <div class="center-main-block__text">
                            <p>Серия расследований «Азаттыка», Kloop и OCCRP попали в список самых интересных журналистских проектов 2019 года</p>
                        </div>
                            <a href="https://kloop.kg/blog/2019/11/21/chelovek-na-700-millionov-dollarov/" class="center-main-block__link">Читать дальше на Kloop</a>
                            <a href="https://rus.azattyk.org/a/30353860.html" class="center-main-block__link">Читать дальше на Азаттык</a>
                    </div>
                    <div class="center-main-block">
                        <div class="center-main-block__title">
                            <div class="center-main-block__date">хх мая 2019</div>
                            в социальных сетях запустили флешмоб против коррупции
                        </div>
                            <img src="{% static '/img/media-block/05.png' %}" alt="флешмоб протест" class="center-main-block__media-img">
                        <div class="center-main-block__text">
                            <p>В социальных сетях запустили флешмоб против коррупции. Свои примеры в соцсетях рассказали ученики, студенты, водители, пациенты.</p>
                        </div>
                            <a href="https://24.kg/page_268/?start=10960" class="center-main-block__link">Читать дальше на 24.kg</a>
                    </div>
                    <div class="center-main-block">
                        <div class="center-main-block__title">
                            <div class="center-main-block__date">30 марта 2019</div>
                            расследование улана эгизбаева "миллиарды таможни"
                        </div>
                            <img src="{% static '/img/media-block/06.png' %}" alt="флешмоб протест" class="center-main-block__media-img">
                        <div class="center-main-block__text">
                            <p>«Азаттык» уже проводил расследование по коррупции в таможне. Но почему-то компетентные органы предпочли промолчать. На этот раз мы расскажем вам о причинах отсутствия реакции.</p>
                        </div>
                        <a href="https://rus.azattyk.org/a/kyrgyzstan_korrupzuya_na_tamojne/29135697.html" class="center-main-block__link">Страница расследования на сайте Азаттык</a>
                        <div class="center-main-block__media-video">
                            <iframe src="https://rus.azattyk.org/embed/player/0/29135697.html?type=video" frameborder="0" scrolling="no" width="100%" height="363" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="right-side">
                    {% for item in social_img_list %}
                        {% if item.position == 'right' %}
                            <a href="{{ item.link }}" class="left-side__link"><img src="{% if item.image %}{{ item.image.url }}{% endif %}" alt="twitter-news" class="left-side__img"></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
    <script src="{% static '/resources/font awesome/all.min.js' %}"></script>
    <script src="{% static '/js/script.js' %}"></script>

</body>
</html>